<%= form_tag sessions_path do %>

  <div class="row">
    <%= label_tag :email, nil, class: "col-xs-12" %>
    <%= email_field_tag :email,nil, class: "col-xs-12" %>
  </div>

  <div class="row">
    <%= label_tag :password,nil, class: "col-xs-12" %>
    <%= password_field_tag :password,nil, class: "col-xs-12" %>
  </div>

  <div class="row">
    <%= submit_tag 'Log in', class: "btn btn-primary" %>
  </div>

<% end %>

<p> Don't have an account? <%= link_to 'Sign Up', signup_path %> </p>