<div class = "container">

  
  <h2>Edit Profile</h2>

  <%= form_for @user, html: { multipart: true } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
       <h2><%= pluralize(@user.errors.count, "error") %> prohibited this message from being saved:</h2>
       <ul>
         <% @user.errors.full_messages.each do |msg| %>
         <li>
           <%= msg %>
         </li>
         <% end %>
       </ul>
    </div>
  <% end %>

  <div class="row">
    <div id = "email-contact" class="form-group">
      <%=f.label 'Email (required to update account)*', class: "col-xs-12" %>
      <%= f.text_field :email, class: "col-xs-10 col-sm-10 col-md-10" %>
    </div>
  </div>

  <div class="row">
    <div id = "password">
      <%= f.label 'Do you want to teach', class: "col-xs-3"%>
      <%= f.check_box :teacher, class: "col-xs-10 col-sm-10 col-md-10"%>
    </div>
  </div>

  <div class="row">
    <div id = "user-personalization" class="form-group">
      <%= f.label :website, class: "col-xs-12" %>
      <%= f.text_field :website, class: "col-xs-10 col-sm-10 col-md-10" %>
    </div>
  </div>

  <div class="row">
    <div id = "user-facebook" class="form-group">
      <%= f.label :facebook, class: "col-xs-12" %>
      <%= f.text_field :facebook, class: "col-xs-10 col-sm-10 col-md-10" %>
    </div>
  </div>

  <div class="row">
    <div id = "user-about" class="form-group">
      <%= f.label :about, class: "col-xs-12" %>
      <%= f.text_area :about, cols: "15", rows: "10", class: "col-xs-10 col-sm-10 col-md-10" %>
    </div>
  </div>

  <div class="row">
    <div id = "experience">
      <%= f.label :experience, class: "col-xs-10 col-s-10 col-m-10" %>
      <%= f.text_area :experience, cols: "15", rows: "10", class: "col-xs-10 col-sm-10 col-md-10"%>
    </div>
  </div>

  <div class="row">
    <div id = "user-avatar" class="form-group">
      <%= f.file_field :avatar, class: "col-xs-10 col-sm-10 col-md-10" %>
    </div>
  </div>

  <div class="row">
    <div id = "edit-user-submit" class="form-group">
      <%= f.submit %>
    </div>
  </div>

  <% end %>
</div>