<div class = "container">

  <h2> Welcome new user, please fill out the form below! </h3>

  <%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
       <h2><%= pluralize(@user.errors.count, "error") %> prohibited this message from being saved:</h2>
       <ul>
         <% @user.errors.full_messages.each do |msg| %>
         <li>
           <%= msg %>
         </li>
         <% end %>
       </ul>
    </div>
  <% end %>


  <div class="row">
    <div id = "email">
      <%= f.label 'Email*', class: "col-xs-12" %>
      <%= f.text_field :email, class: "col-xs-9" %>
    </div>
  </div>

  <div class="row">
    <div id = "username">
      <%= f.label 'Username*', class: "col-xs-12" %>
      <%= f.text_field :username, class: "col-xs-9" %>
    </div>
  </div>

  <div class="row">
    <div id = "password">
      <%= f.label 'Password*', class: "col-xs-12"%>
      <%= f.password_field :password , class: "col-xs-9"%>
    </div>
  </div>

  <div class="row">
    <%= f.file_field :avatar %>
  </div

  <div class="row">
    <div id = "submit">
      <%= f.submit 'Signup', class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

  <p id = "already"> Already have an account? <%= link_to 'Login', login_path %> </p>
</div>