<div class="col-xs-6 col-sm-2 pull-right" id = "cat">
  <div class = "bg-red">
    <h3> Categories </h3>
      <% @categories.each do |category| %>
        <p><%= link_to category.category_name, category_path(category.id) %></p>
      <% end %>
  </div>
</div>

<% if current_user == @user %>
  <h1> Welcome <%= @user.username %> </h1>
  <%= link_to 'Edit', edit_user_path(@user.id), :class => "btn btn-default" %>
  <%= link_to 'Delete', user_path(@user.id), :method => :delete, :type => "button", :class => "btn btn-danger", :onclick => "myFunction()" %>

<% else %>
  <h1> Meet <%= @user.username %> </h1>
<% end %>

<% @user.average_rating.times do %>
  <%= image_tag("star.png", size: "20x20") %>
<% end %></p>
<h3> Member since: <%= @user.created_at.strftime(" %b. %d, %Y") %> </h3>
<h4> About: <%= @user.about %> </h4>
<p> Website: <%= link_to URI.split(@user.website)[2], normalize_url(@user.website) %>  </p>
<p> Facebook: <%= link_to URI.split(@user.facebook)[2], normalize_url(@user.facebook) %>  </p>

<h4> Reviews (<%= @user.reviews.count %>) </h4>
<% unless current_user == @user %>
  <p><%= link_to "Add a Review", new_user_review_path(@user), class: "btn btn-default" %></p>
<% end %>

<ul>
  <% @user.reviews.each do |review| %>
  <li>Rating:
    <% review.score.times do %>
      <%= image_tag("star.png", size: "20x20") %>
    <% end %>
  </li>

  <li>From <%=link_to review.reviewer.username, user_path(review.reviewer) %>
  on <%= review.created_at.strftime("%B %d, %Y") %> <br>
  <%= review.body %>
  <p><% if review.user_id == current_user.id %>
    <%= link_to "Delete Review", user_review_path(user_id: @user, id: review), method: :delete %></p>
  <% end %>
  </li>
  <% end %>
</ul>