<div class="col-xs-3 col-sm-2 pull-right" id = "cat">
  <div class = "catdiv">
    <h3>Categories</h3>
      <% @categories.each do |category| %>
        <p><%= link_to category.category_name, category_path(category.id) %></p>
      <% end %>

      <h3>Trending tags: </h3>
      <% @tags.each do |tag| %>
        <p><%= link_to tag.title, tags_path(tag.title) %></p>
      <% end %>
  </div>
</div>

<h1 class = "header-1"> Posts tagged with <%= @tags.title %></h1>

<ol>
<% @tags.posts.each do |post| %>
  <li><p>Title: <%= link_to post.title, post_path(post.id)%></p>
  <p> By: <%= link_to post.user.username, user_path(post.user.id), class: "index-post-link" %></p></a></li>
<%end%>
</ol>