<% if @post.errors.any?  %>
  <ul>
  <% @post.errors.full_messages.each do |msg| %>
      <li> <%= "#{msg}" %></li>
  <% end %>
  </ul>
<% end %>

<div class="col-xs-3 col-sm-2 pull-right" id = "cat">
  <div class = "catdiv">
    <h3>Categories</h3>
      <% @categories.each do |category| %>
        <p><%= link_to category.category_name, category_path(category.id) %></p>
      <% end %>

      <h3>Trending tags: </h3>
      <% @tags.each do |tag| %>
        <p><%= link_to tag.title, tags_path(tag.title) %></p>
      <% end %>
  </div>
</div>

<div id = "edit-post">
  <%= form_for @post do |f| %>
    <div class="row">
      <div class="form-group">
        <%= f.label 'What are you teaching about today?*', class: "col-xs-8"%>
        <%= f.text_field :title, class: "col-xs-6" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Teach Away!(minumum of 500 words)*', class: "col-xs-8"  %>
        <%= f.text_area :body, cols: "30", rows: "50", onkeyup: "countChar(this)", id: "field", class: "col-xs-6"%>
        <div id="charNum" class = "col-xs-6"></div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Tags (separated by commas and NO spaces, please!!)', class: "col-xs-8"%>
        <%= f.text_field :all_tags, class: "col-xs-6" %>
      </div>
    </div>

    <div class="row">
    <%= f.file_field :photo %>
    </div>

    <div class="row">
      <div class="form-group">
      <%= f.label :category, class: "col-xs-8" %>
      <%= f.collection_select(:category_id, Category.all, :id, :category_name, class: "col-xs-6") %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
      <%= f.submit :submit, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
