<div id = "container">

  <% if @post.errors.any?  %>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
        <li> <%= "#{msg}" %></li>
    <% end %>
    </ul>
  <% end %>

  <div id = "edit-post">
    <%= form_for @post do |f| %>
      <div class="row">
        <div class="form-group">
          <%= f.label 'What are you teaching about today?*', class: "col-xs-8"%>
          <%= f.text_field :title, class: "col-xs-8" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label 'Edit body', class: "col-xs-12"  %>
          <%= f.bootsy_area :body, cols: "120", rows: "30", id: "field", class: "col-xs-12 col-sm-6 col-md-8"%>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label 'Tags (separated by commas and NO spaces, please!!)', class: "col-xs-8"%>
          <%= f.text_field :all_tags, class: "col-xs-8" %>
        </div>
      </div>

      <div class="row">
      <%= f.file_field :photo %>
      </div>

      <div class="row">
        <div class="form-group">
        <%= f.label :category, class: "col-xs-12" %>
        <%= f.collection_select(:category_id, Category.all, :id, :category_name, class: "col-xs-3") %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
        <%= f.submit :submit, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>