<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id = "tagline"><%= @category.category_name %></h1>
      </div>
    </div>
  </div>
</header>

<div class = "container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class=" col-xs-10 col-s-6 col-md-4 portfolio-item">
      <ol>
        <li><p><%= link_to image_tag(post.photo.url, size: "350x200", :class => "img-circle"), post_path(post.id) %> </p>
          <p><%= link_to post.title, post_path(post.id), class: "link-post" %></p></li>
      </ol>
    </div>
    <% end %>
  </div>
  <div class="pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>