<%= form_for [@reviewable, @review] do |f| %>
  <div id = "review-body">
    <%= f.label :review_body %>
    <%= f.text_area :body %>
  </div>
  <div id = "review-score">
    <%= f.label :review_score %>
    <%= f.select :score, [1,2,3,4,5] %>
  </div>
  <div id = "submit-button">
    <%= f.submit %>
  </div>
<% end %>